[submodule "LoadTest/FogETexResourceManager"]
	path = LoadTest/FogETexResourceManager
	url = https://kadirozlem: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@github.com/kadirozlem/FogETexResourceManager.git
