<!-- # sidebar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                <!-- <img src="assets/images/logo.png" alt="" /> --><span>Soft Sensors Lab</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i> Home Page </a></li>
                <li><a href="https://akademi.itu.edu.tr/en/ozlem16/" target="_blank" ><i class="ti-user"></i>Developer</a></li>
                <li class="label fognodelabel">Fog Nodes</li>
<!--                <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> UI Elements <span class="sidebar-collapse-icon ti-angle-down"></span></a>-->
<!--                    <ul>-->
<!--                        <li><a href="ui-typography.html">Typography</a></li>-->
<!--                        <li><a href="ui-alerts.html">Alerts</a></li>-->

<!--                        <li><a href="ui-button.html">Button</a></li>-->
<!--                        <li><a href="ui-dropdown.html">Dropdown</a></li>-->

<!--                        <li><a href="ui-list-group.html">List Group</a></li>-->

<!--                        <li><a href="ui-progressbar.html">Progressbar</a></li>-->
<!--                        <li><a href="ui-tab.html">Tab</a></li>-->

<!--                    </ul>-->
<!--                </li>-->
                <li class="fognode"><a class="sidebar-sub-toggle"><i class="ti-plug"></i> Serial Ports <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul id="fogdevicelist">

                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-plug"></i> Serial Ports <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul id="serialportlist">
                        <li><a href="#" onclick="return false;">No devices are connected!</a></li>
                        <!--<li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-alerts.html">Alerts</a></li>

                        <li><a href="ui-button.html">Button</a></li>
                        <li><a href="ui-dropdown.html">Dropdown</a></li>

                        <li><a href="ui-list-group.html">List Group</a></li>

                        <li><a href="ui-progressbar.html">Progressbar</a></li>
                        <li><a href="ui-tab.html">Tab</a></li>
-->
                    </ul>
                </li>
                <li><a href="/account/logout"><i class="ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->